.HuyLuu{
    margin: 0;
    top: 50%;
    left: 55%;
    right: 45%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.m-portlet__body {
    margin-right: 15px;
    margin-left: 15px;
}

.group-2.m-portlet.m-portlet-mobile {
    margin-right: 15px;
    margin-left: 15px;
}

.table-checkbox {
    width: 50px !important;
}

.m-radio {
    padding-top: 5px !important;
}

.th-STT {
    width: 100px;
}
.th-MaTaiXe {
    width: 140px;
}

.add-form {
    padding-right: 50px;
    padding-left: 50px;
}




