
.m-portlet__body {
    margin-right: 15px;
    margin-left: 15px;
}

.group-2.m-portlet.m-portlet-mobile {
    margin-right: 15px;
    margin-left: 15px;
}

.table-checkbox {
    width: 50px !important;
}

.m-radio {
    padding-top: 5px !important;
}

.th-STT {
    width: 100px;
}
.th-MaTaiXe {
    width: 100px;
}
.min-salary{
    padding-right: 10px;
    padding-top: 5px;
}
.min-salary-s{
    width: 100px;
}
