<div [@routerTransition]>
   <div class="m-content">
      <div class="m-portlet m-portlet__header m-portlet-mobile">
         <div class="m-portlet__nav">
            <ul>
               <li>
                  <a routerLink="/app/admin/driver-add">
                     <i class="flaticon-add"></i>
                     Thêm mới
                  </a>
               </li>
               <li>
                  <a routerLink="/app/admin/driver-edit">
                     <i class="flaticon-edit"></i> Chỉnh sửa
                  </a>
               </li>
               <li>
                  <span (click)="search()" routerLink="/app/admin/driver-search">
                     <i class="flaticon-search"></i>
                     Tìm kiếm
                  </span>
               </li>
               <li>
                  <span (click)="delete()" [class.disabled]="!driverId">
                     <i class="flaticon-edit"></i> Xóa
                  </span>
               </li>
            </ul>
         </div>
      </div>
      <div class="m-subheader">
         <div class="d-flex align-items-center">
            <div class="mr-auto col-xs-6">
               <span class="m-section__sub m-section__sub--separator">
                  {{ l("Thêm tài xế") }}
               </span>
               <span class="m-section__sub m-section__sub--separator active">
                  <a routerLink="/app/admin/driver">{{ l("Quản lý tài xế") }} {{ currentUserName }}</a>
               </span>
            </div>
         </div>
      </div>
   </div>

   <div class="group-2 m-portlet m-portlet-mobile">
      <div class="m-portlet__body">
         <div class="add-form">
            <form>
               <div class="row">
                  <div class="col-md-6">
                     <label for="">Ten Vat Tu</label>
                     <div class="form-group">
                        <input [formControl]="addFormControl" id="driver-add"
                           class="ui-inputtext ui-widget ui-state-default form-control" name="materialInsert.vatTu_Ten"
                           [(ngModel)]="driverInsert.taiXe_HoTen" type="text" maxlength="50" />
                     </div>
                  </div>
                  <div class="col-md-6">
                     <label for="">So Luong</label>
                     <div class="form-group">
                        <input [formControl]="addFormControl" id="driver-add"
                           class="ui-inputtext ui-widget ui-state-default form-control" type="number"
                           name="driver_add_MucLuong" [(ngModel)]="materialInsert.vatTu_SoLuong" step="10" />
                     </div>
                  </div>

               </div>

               <div class="row">
                  
                  <div class="col-md-3">
                     <label for="">Don Gia</label>
                     <div class="form-group">
                        <input [formControl]="addFormControl" id="driver-add"
                           class="ui-inputtext ui-widget ui-state-default form-control" type="number"
                           name="driver_add_MucLuong" [(ngModel)]="materialInsert.vatTu_DonGia" step="100000" />
                     </div>
                  </div>
                  <div class="col-md-3">
                     <label for="">Tong Tri Gia</label>
                     <div class="form-group">
                        <input [formControl]="addFormControl" id="driver-add"
                           class="ui-inputtext ui-widget ui-state-default form-control" type="number"
                           name="driver_add_MucLuong" [(ngModel)]="TongTriGia" step="100000" />
                     </div>
                  </div>
<div class="col-md-6">
                     <label>Mo Ta</label>
                     <div class="form-group">
                        <textarea class="form-control" [(ngModel)]="materialInsert.vatTu_MoTa">
                        </textarea>
                     </div>
                  </div>
               </div>

               <div class="row">
                  
               </div>

            </form>

            <div class="row">
               <div class="col-md-4"></div>
               <div class="container">
                  <div class="col-md-4 save-confirm">
                     <form class="m-content" #roleForm="ngForm" novalidate (ngSubmit)="finalConfirm()"
                        autocomplete="off">
                        <div class="m-portlet__header m-portlet-mobile">
                           <div class="m-portlet__nav">
                              <ul>
                                 <li>
                                    <a style="cursor: pointer;" (click)="cancelConfirm()"><i class="fa fa-times"></i>
                                       Hủy</a>
                                 </li>
                                 <li>
                                    <a style="cursor: pointer;" (click)="finalConfirm()"><i class="fa fa-check"></i>
                                       Lưu</a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
               <div class="col-md-4"></div>
            </div>
         </div>

         <div class="row align-items-center">
            <!--<Primeng-TurboTable-Start>-->

            <!--<Primeng-TurboTable-End>-->
         </div>
      </div>
   </div>

   <p-dialog styleClass="dialog-width" header="THÔNG BÁO" [(visible)]="saveDialog" [style]="{ width: '300px' }"
      [baseZIndex]="10000">
      Xác nhận thêm tài xế?
      <p-footer>
         <button type="button" style="background-color: #5867dd; margin-right: 20px;" pButton
            (click)="saveDialog = false; insert()" label="Thêm"></button>
         <button type="button" pButton (click)="saveDialog = false" label="Hủy" class="ui-button-secondary"></button>
      </p-footer>
   </p-dialog>
</div>