<div [@routerTransition]>
    <div class="m-content">
        <div class="m-portlet m-portlet__header m-portlet-mobile">
            <div class="m-portlet__nav">
                <ul>
                    <li>
                        <a routerLink="/app/admin/material-add">
                            <i class="flaticon-add"></i>
                            Thêm mới
                        </a>
                    </li>
                    <li>
                        <a routerLink="/app/admin/material-edit">
                            <i class="flaticon-edit"></i> Chỉnh sửa
                        </a>
                    </li>
                    <li>
                        <a routerLink="/app/admin/material-search">
                            <span>
                                <i class="flaticon-search"></i>
                                Tìm kiếm
                            </span>
                        </a>
                    </li>
                    <li>
                        <span (click)="deleteMaterial()" [class.disabled]="!materialId">
                            <i class="flaticon-circle"></i> Xóa vật tư
                        </span>
                    </li>
                    <li>
                        <a routerLink="/app/admin/material-sub">
                            <span>
                                <i class="flaticon-edit"></i>
                                Thanh lý
                            </span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/app/admin/material-delete">
                            <span>
                                <i class="flaticon-calendar"></i>                <!--Khỏi set , huy sẽ set sau-->
                                lịch sử thanh lý
                            </span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/app/admin/material-car">
                            <span>
                                <i class="flaticon-info"></i>                       <!--Khỏi set , huy sẽ set sau-->
                                Vật tư theo xe
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-subheader">
            <div class="d-flex align-items-center">
                <div class="mr-auto col-xs-6">
                    <span class="m-section__sub m-section__sub--separator">
                        {{ l("Trang chủ") }}
                    </span>
                    <span class="m-section__sub m-section__sub--separator active">
                        <a routerLink="/app/admin/material">{{ l("Quản lý vật tư") }} {{ currentUserName }}</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="group-2 m-portlet m-portlet-mobile">
        <div class="m-portlet__body">
            <form #filterForm="ngForm" (submit)="onChangeSearch()">
                <div class="row">
                    <div class="col-md-6">
                        <label for="vatTu_Ten">Tên vật tư</label>
                        <div class="form-group">
                            <input id="material_search" class="ui-inputtext ui-widget ui-state-default form-control"
                                type="text" name="material_search" maxlength="20" [(ngModel)]="materialName"
                                
                                pattern="[a-zA-Z ]*"
                                />
                        </div>
                    </div>
                </div>

                <button type="submit" hidden [disabled]="!filterForm.form.valid"></button>
            </form>
            <div class="row align-items-center">
                <!--<Primeng-TurboTable-Start>-->
                <div class="primeng-datatable-container">
                    <p-table #dataTable [value]="primengTableHelper.records" [paginator]="
              primengTableHelper.totalRecordsCount === 0 ? false : true
            " [rows]="primengTableHelper.defaultRecordsCountPerPage" [rowsPerPageOptions]="
              primengTableHelper.predefinedRecordsCountPerPage
            " totalRecords="totalRecords" pageLinks="3">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="table-checkbox"></th>
                                <th class="th-STT">
                                    STT
                                </th>
                                <th class="th-TenVatTu">
                                    Tên vật tư
                                </th>
                                <th class="th-SoLuong">
                                    Số lượng
                                </th>
                                <th class="th-MoTa">
                                    Mô tả
                                </th>
                                <th class="th-TongTriGia">
                                    Tổng trị giá
                                </th>
                                <th class="th-NgayThemVao">
                                    Ngày thêm vào
                                </th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-record="$implicit">
                            <tr>
                                <td>
                                    <label class="m-radio" for="Theme_Default-{{ record.ma }}">
                                        <input id="Theme_Default-{{ record.ma }}" name="Theme" [(ngModel)]="materialId"
                                            value="{{ record.ma }}" type="radio" />
                                        <span></span>
                                    </label>
                                </td>
                                <td style="text-align: center;">
                                    <span>{{ record["no"] }}</span>
                                </td>
                                <td class="td-TenVatTu">
                                    <span>{{ record.vatTu_Ten }}</span>
                                </td>
                                <td style="text-align: center;" >
                                    <span>{{ record.vatTu_SoLuong }}</span>
                                </td>
                                <td class="td-MoTa" >
                                    <span>{{ record.vatTu_MoTa }}</span>
                                </td>

                                <td style="text-align: center;">
                                    <span [style.float] = "'right'" [style.padding-right.px]="'40'">{{
                    record.vatTu_TongGia | currency: "VND":true  
                   }}</span>                  
                                </td>
                                <td style="text-align: center;">
                                    <span >{{
                    toDate(record.vatTu_NgayTao) 
                   }}</span>                  
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                        {{ l("NoData") }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>